.container {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
    padding: 5px;
    margin: 20px;
    background: #999;
    border: 1px dashed #666;
    border-radius: 10px;
    align-self: stretch;
}

.li{
    height: 100%;
    width: 100%;
}