.slugButton {
    background:rgb(218, 0, 0);
    font-size: 110%;
    color: white;
    border-width: 1px;
    border-radius: 10px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 0; */
    width: 200px;
    height: 40px;
}